@font-face {
    font-family: 'Monsterrat-Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Monsterrat-Thin';
    src: url('../assets/fonts/Montserrat-Thin.ttf');
}
.CurrentWeather{
    max-width: 650px;
    min-width: 384px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/rainy_weather_dark.png');
    margin-left: auto;
    color: white;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7rem;
    margin-top: 2rem;
}
.Location h3{
    font-family: 'Monsterrat-Regular';
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.Location p{
    font-family: 'Monsterrat-Regular';
    font-size: 0.9rem;
}
.MainWeather{
    margin: 4.5rem 7rem;
    margin-bottom: 0;
}
.Icon{
    /* font-size: 3rem; */
    margin-bottom: 0.5rem;
}
.WeatherData{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.WeatherData h1{
    font-family: 'Monsterrat-Regular';
    font-size: 3rem;
}
.WeatherData p{
    font-family: 'Monsterrat-Regular';
    font-size: 1.225rem;
}
.MoreData{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between; 
}
.MoreData p{
    margin-bottom: 0.5rem;
}
.line{
    margin-top: 1.5rem;
    width: 100%;
    height: 1px;
    background-color: gray;
}
.Title{
    margin-top: 1.5rem;
    font-size: 1.225rem;
}

@media screen and (max-width: 1900px) {
    .Header{margin: 0 3rem; margin-top: 2rem;}
    .MainWeather{margin: 4.5rem 3rem;}
}
@media screen and (max-width: 1200px) {
    .CurrentWeather{margin: 0; max-width: 100%; min-width: 200px;}
    .MainWeather{display: flex; flex-direction: column;}
    .Header, .WeatherData, .MoreData{justify-content: space-around;}
    .Icon{align-self: center; margin-bottom: 2rem;}
}
@media screen and (max-width: 600px) {
    .Header, .WeatherData, .MoreData{justify-content: space-between;}
    .Header{margin: 0 1.5rem; margin-top: 2rem;}
    .MainWeather{margin: 4.5rem 1.5rem;}
}