.HourBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.HourBox p{
    font-size: 1rem;
}
.HourBox img{
    max-width: 50px;
    max-height: 40px;
}