@font-face {
    font-family: 'Monsterrat-Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Monsterrat-Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
.SearchWeather{
    display: flex;
    padding-bottom: 2rem;
    border-bottom: rgb(248, 248, 248) 1px solid;
}
.Date h1{
    font-family: 'Monsterrat-Bold';
    color: #1B262C;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}
.Date p{
    font-family: 'Monsterrat-Regular';
    color: gray;
    text-transform: capitalize;
}
.form{
    align-self: center;
    margin-left: 6rem;
    /* width: 100%; */
}
.form input{
    border: none;
    outline: none;
    background-color: rgb(248, 248, 248);
    min-width: 320px;
    height: 50px;
    font-family: 'Monsterrat-Regular';
    padding-left: 2rem;
    font-size: 1rem;
}

.AutoCompleteContainer{
    position: absolute;
    width: 270px;
}

@media screen and (max-width: 1900px) {
    .form input{min-width: 240px;} 
}
@media screen and (max-width: 1200px) {
    .SearchWeather{flex-direction: column;}
    .form{align-self:flex-start; margin-left: 0; margin-top: 1rem;}
    /* .form input{width: 50%;} */
}
@media screen and (max-width: 600px){
    .form{width: 100%;}
    .form input{width: 90%;}
}