@font-face {
    font-family: 'Monsterrat-Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Monsterrat-SemiBold';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}
.WeatherBox{
    display: flex;
    background-color: rgb(248, 248, 248);
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 0.5rem;
    width: 360px;
}
.WeatherBox span{
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 1rem;
}
.WeatherBox svg{
    color: #2f82fe;;
}
.Details p{
    margin-bottom: 0.5rem;
}
.Details h2{
    font-family: 'Monsterrat-SemiBold';
    font-size: 2rem;
}
.WeatherBox p:last-child{
    margin-left: 2rem;
    margin-right: 1rem;
}
@media screen and (max-width:600px){
    .WeatherBox{width: 100%;} 
}